// views/chatroomにroom.ejsを追加
<h1>ChatRoom</h1>
<div id='messages'>
  <ul id='message_list'>
  </ul>
</div>
<div>
  <input type='text' id='message'></input>
  <input type='button' id='send' value='送信'></input>
</div>